body{
    background-color: lightgrey;
}
h2{
    display: inline;
}
button{
    border-radius: 50%;
    border:0;
    background-color:azure;
    width:25px;
    height: 25px;
}
.add{
    color:lightgreen;
    
}
.remove{
    color:lightcoral;
}